// Fonts
$font1: 'Neucha';
// Colores
$color0: #E6FDD3;
$color1: #E6FDD3;
$color2: #C8EAC1;
$color3: #6CB18C;
$color4: #B17B6C;
// Tamaño de fuentes
$f-size-sm: 25px; //font-size-small (pequeña)
$f-size-md: 30px; //font-size-medium (mediana)
$f-size-lg: 48px; //font-size-large (grande)
